<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" >
    <sitecore role:require="Standalone or ContentManagement">
        <pipelines>          
            <cmp.importEntity>
                <processor type="Sitecore.CMP.Connector.Extensions.LinkField.Pipelines.SaveLinkFieldValues, Sitecore.CMP.Connector.Extensions.LinkField" patch:after="processor[@type='Sitecore.CMP.Connector.Extensions.LinkField.Pipelines.SaveImageFieldValues, Sitecore.CMP.Connector.Extensions.LinkField']" resolve="true" />
            </cmp.importEntity>
        </pipelines>
      <settings>
        <setting name="BucketConfiguration.ResolveFacetValueToFriendlyName" value="true" />
        <setting name="ServiceBus.AggregationIntervalTimeInSeconds" value="60" />
        <setting name="CMP.ImportEntityPipelineName" value="cmp.importEntity" />
        <setting name="CMP.FieldConverterMapperName" value="cmp.fieldConverterMapper" />
        <setting name="CMP.ItemIdToEntityIdentifierCacheInstanceName" value="CMP.ItemIdToEntityIdentifier" />
        <setting name="CMP.PropertyDefinitionTypeAttributeName" value="propertyDefinitionType" />
        <setting name="CMP.LogMessageTitle" value="[Sitecore Connect for Sitecore CMP]" />
        <setting name="CMP.PropertyParentRelation" value="ToSelf" />
        <setting name="CMP.CacheEntryExpirationTimeInSeconds" value="240" />
        <setting name="Sitecore.DatabaseName" value="master" />
        <setting name="Sitecore.RelationFieldMappingSeparator" value="|" />
        <setting name="Sitecore.DefaultTaxonomyProvider" value="CachedItemTaxonomyProvider" />
        <setting name="Sitecore.DefaultTagger" value="DefaultTagger" />
        <setting name="Sitecore.NodeNameSeparator" value="." />
        <setting name="Sitecore.IDTableName" value="IDTable" />
        <setting name="Sitecore.TableIDEntry.CMPEntityIdentifierPrefix" value="CONN_CMP_ENTITY_IDENTIFIER" />
        <setting name="CMP.ThreadRetryWaitMilliseconds" value="500" />
        <setting name="CMP.ThreadRetryNumber" value="24" />
      </settings>
    </sitecore>
</configuration>